/* PC */
@media (min-width: 64em){
    .list--item:last-child {
        display: none;
    }
}
/* TABLET */
@media (min-width: 46.25em) and (max-width:63.9375em){
    /* Header */
    .width_94 {
        width: 94%;
    }

    .container {
        justify-content: flex-end;
    }

    .nav-left,
    .user {
        display: none;
    }

    .nav-between-logo {
        left: 3%;
        transform: translateX(0);
    }

    .nav-right-icon .ti-align-justify {
        margin-right: -10px;
    }
    
    /* SLIDER */
    #drop-of-water {
        display: none;
    }

    /* FOOTER */
    #footer .footer-first {
        display: block;
    }

    #footer .footer-item {
        width: 100%;
        padding: 0;
    }

    .logofooter {
        display: none;
    }

    .footer-item .signup-text-btn {
        display: initial;
        position: relative;
        display: flex;
    }

    .signup-text-btn .signup-text {
        width: 100%;
    }

    .signup-text-btn .signup-btn input {
        position: absolute;
        top: 0;
        right: 0;
    }

    .footer-introduction {
        margin: 20px 0 20px ;
    }

    .footer-contact {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .footer-contact > h3 {
        padding-bottom: 10px;
    }

    .footer-last {
        margin: 0;
    }

    .footer-copyright-iconcontact {
        flex-direction: column;
    }

    .footer-copyright-iconcontact div {
        width: inherit;
    }

    .iconcontact {
        margin-top: 10px;
    }

    /* MODAL */
    .modal__registerlogin {
        margin: 55px auto;
    }

    .inner__authform--headercp {
        display: none;
    }

    .inner__authform--socials {
        margin-bottom: 20px;
    }

}
/* MOBILE */
@media (max-width: 46.1875em){
    /* Header */
    .width_94 {
        width: 96%;
    }

    .container {
        display: block;
        padding: 10px 0 ;
        position: relative;
    }

    .nav-between-logo {
        position: relative;
        margin-bottom: 10px;
    }

    .nav-left,
    .user {
        display: none;
    }

    .nav-right {
        display: block;
    }

    .nav-right .search input {
        width: 100%;
    }

    .nav-right-list {
        position: absolute;
        top: 25%;
        right: 0;
    }

    .navright-item:last-child {
        padding-right: 0;
    }

    /* Slider */
    #slider  #drop-of-water {
        display: none;
    }

    /* CONTENT */
    #content .content-about {
        margin-top: 25px;
        display: flex;
        flex-direction: column-reverse;
    }
    
    #content .content-infoandform {
        flex-direction: column;
        margin-top: 0;
    }

    #content .content-contact--info {
        margin-bottom: 25px;
    }

    .form-personal {
        justify-content: space-between;
    }

    .form-personal .item-email {
        margin-left: 0;
    }

    .form-peronal--item {
        width: 48.8%;
    }

    .content-infoandform-item {
        margin: 0;
        width: 100%;
    }

    .content-item.content-map {
        margin-top: 20px;
    }

    /* DROP OF WATER  */
    #drop-of-water1 {
        top: -46px;
    }

    /* FOOTER */
    #footer .footer-first {
        display: block;
    }

    #footer .footer-item {
        width: 100% !important;
        margin-bottom: 15px;
        padding: 0;
    }

    .footer-contact > h3,
    .footer-item .signup-des > h3 {
        padding-bottom: 7px;
    }

    .footer-signup .signup-text {
        width: 100%;
    }

    .footer-introduction .logofooter {
        display: none;
    }

    .footer-contact {
        margin-top: 0;
    }

    .footer-last {
        margin-top: 0;
    }

    .footer-copyright-iconcontact {
        display: block;
    }

    .footer-copyright-iconcontact .copyright {
        margin-bottom: 10px;
    }

    .footer-copyright-iconcontact div {
        width: 100%;
    }

    .iconcontact .iconcontact-item {
        padding: 13px;
        margin: 0;
    }

    /* MODAL */
    .modal__registerlogin {
        width: 80%;
    }

    .inner__authform--header {
        justify-content: center;
    }

    .inner__authform--header > img {
        width: 150px;
    }

    .inner__authform--header > p {
        display: none;
    }

    .inner__authform--headercp {
        padding: 10px ;
    }

    .inner__authform--controls {
        justify-content: space-evenly;
    }

    .inner__authform--controls > button {
        margin: 0;
    }

    .authform__help {
        margin-bottom: 20px;
        font-size: 15px;
    }

    .inner__authform--socials {
        flex-direction: column;
        align-items: center;
    }

    .authform--socialsFb {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .authform--socialsFb a {
        width: 100%;
    }

    .authform--socialsFb i {
        width: 33%;
    }

    .authform--socials-item {
        width: 80%;
    }

}
